vendor/
node_modules/
public/js/bower_components
public/css/src_sass
public/storage

.env.*.php
.env.php
.env

.DS_Store
agentes_key.pem

# BANNER FILES
public/img/programas
public/results/*
!public/results/index.html
public/csv/*
!public/csv/index.html
