<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond $1 ^tuevaluas/?$
    RewriteRule ^(.*) tuevaluas/index.php [L]
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    RewriteCond %{DOCUMENT_ROOT}$1 -d
    RewriteRule ^tuevaluas(.*) $1 [L]

    RewriteCond %{DOCUMENT_ROOT}$1 -f
    RewriteCond $1 !=/index.php
    RewriteRule ^tuevaluas(.*) $1 [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ tuevaluas/index.php [L]
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
